In [1]:
import pandas as pd
import requests

1. Using the code from the lesson as a guide and the REST API from https://swapi.dev/ as we did in the lesson, create a dataframe named people that has all of the data for people.
2. Do the same thing, but for planets.
3. Extract the data for starships.
4. Save the data in your files to local csv files so that it will be faster to access in the future.
5. Combine the data from your three separate dataframes into one large dataframe.

6. Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

7. Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

In [2]:
url='https://swapi.dev/api'

In [3]:


def get_data_from_api(url):
    data = []
    while True:
        response = requests.get(url)
        if response.status_code == 200:
            json_data = response.json()
            results = json_data['results']
            data.extend(results)
            url = json_data['next']
            if url is None:
                break
        else:
            print(f"Error: {response.status_code}")
            break
    return data

In [4]:
def save_data_as_csv(data, filename):
    df = pd.DataFrame(data)
    df.reset_index(drop=True, inplace=True)  # Reset index
    df.to_csv(filename, index=False)

In [5]:
def fetch_data_from_api(base_url, endpoint, filename):
    url = f"{base_url}/{endpoint}/"
    data = get_data_from_api(url)
    save_data_as_csv(data, filename)

In [6]:
fetch_data_from_api(url,'people','star_wars_people.csv')

In [7]:
people = pd.read_csv('star_wars_people.csv')
people.shape

(82, 16)

In [8]:
people.head()

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,species,vehicles,starships,created,edited,url
0,Luke Skywalker,172,77,blond,fair,blue,19BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],"['https://swapi.dev/api/vehicles/14/', 'https:...","['https://swapi.dev/api/starships/12/', 'https...",2014-12-09T13:50:51.644000Z,2014-12-20T21:17:56.891000Z,https://swapi.dev/api/people/1/
1,C-3PO,167,75,NaN,gold,yellow,112BBY,NaN,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:10:51.357000Z,2014-12-20T21:17:50.309000Z,https://swapi.dev/api/people/2/
2,R2-D2,96,32,NaN,"white, blue",red,33BBY,NaN,https://swapi.dev/api/planets/8/,"['https://swapi.dev/api/films/1/', 'https://sw...",['https://swapi.dev/api/species/2/'],[],[],2014-12-10T15:11:50.376000Z,2014-12-20T21:17:50.311000Z,https://swapi.dev/api/people/3/
3,Darth Vader,202,136,none,white,yellow,41.9BBY,male,https://swapi.dev/api/planets/1/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],[],['https://swapi.dev/api/starships/13/'],2014-12-10T15:18:20.704000Z,2014-12-20T21:17:50.313000Z,https://swapi.dev/api/people/4/
4,Leia Organa,150,49,brown,light,brown,19BBY,female,https://swapi.dev/api/planets/2/,"['https://swapi.dev/api/films/1/', 'https://sw...",[],['https://swapi.dev/api/vehicles/30/'],[],2014-12-10T15:20:09.791000Z,2014-12-20T21:17:50.315000Z,https://swapi.dev/api/people/5/

In [9]:
fetch_data_from_api(url,'planets','star_wars_planet.csv')

In [10]:
planets = pd.read_csv('star_wars_planet.csv')
planets.shape

(60, 14)

In [11]:
planets.head()

,name,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents,films,created,edited,url
0,Tatooine,23,304,10465,arid,1 standard,desert,1,200000,"['https://swapi.dev/api/people/1/', 'https://s...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-09T13:50:49.641000Z,2014-12-20T20:58:18.411000Z,https://swapi.dev/api/planets/1/
1,Alderaan,24,364,12500,temperate,1 standard,"grasslands, mountains",40,2000000000,"['https://swapi.dev/api/people/5/', 'https://s...","['https://swapi.dev/api/films/1/', 'https://sw...",2014-12-10T11:35:48.479000Z,2014-12-20T20:58:18.420000Z,https://swapi.dev/api/planets/2/
2,Yavin IV,24,4818,10200,"temperate, tropical",1 standard,"jungle, rainforests",8,1000,[],['https://swapi.dev/api/films/1/'],2014-12-10T11:37:19.144000Z,2014-12-20T20:58:18.421000Z,https://swapi.dev/api/planets/3/
3,Hoth,23,549,7200,frozen,1.1 standard,"tundra, ice caves, mountain ranges",100,unknown,[],['https://swapi.dev/api/films/2/'],2014-12-10T11:39:13.934000Z,2014-12-20T20:58:18.423000Z,https://swapi.dev/api/planets/4/
4,Dagobah,23,341,8900,murky,NaN,"swamp, jungles",8,unknown,[],"['https://swapi.dev/api/films/2/', 'https://sw...",2014-12-10T11:42:22.590000Z,2014-12-20T20:58:18.425000Z,https://swapi.dev/api/planets/5/

In [12]:
fetch_data_from_api(url,'starships','star_wars_starship.csv')

In [14]:
starships= pd.read_csv('star_wars_starship.csv')

starships.shape

(36, 18)

In [27]:
def concatenate_csv_files(csv_files):
    dfs = []
    for file in csv_files:
        df = pd.read_csv(file)
        dfs.append(df)
    concatenated_df = pd.concat(dfs, ignore_index=True)
    return concatenated_df

In [28]:
files=['star_wars_people.csv','star_wars_planet.csv','star_wars_planet.csv']

In [33]:
df=concatenate_csv_files(files)
df.sample(n=10)

,name,height,mass,hair_color,skin_color,eye_color,birth_year,gender,homeworld,films,...,url,rotation_period,orbital_period,diameter,climate,gravity,terrain,surface_water,population,residents
13,Han Solo,180,80,brown,fair,brown,29BBY,male,https://swapi.dev/api/planets/22/,"['https://swapi.dev/api/films/1/', 'https://sw...",...,https://swapi.dev/api/people/14/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Luminara Unduli,170,56.2,black,yellow,blue,58BBY,female,https://swapi.dev/api/planets/51/,"['https://swapi.dev/api/films/5/', 'https://sw...",...,https://swapi.dev/api/people/64/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,Glee Anselm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],...,https://swapi.dev/api/planets/44/,33,206,15600,"tropical, temperate",1,"lakes, islands, swamps, seas",80,500000000,['https://swapi.dev/api/people/53/']
68,Zam Wesell,168,55,blonde,"fair, green, yellow",yellow,unknown,female,https://swapi.dev/api/planets/54/,['https://swapi.dev/api/films/5/'],...,https://swapi.dev/api/people/70/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],...,https://swapi.dev/api/planets/28/,0,0,0,unknown,unknown,unknown,unknown,unknown,"['https://swapi.dev/api/people/20/', 'https://..."
49,Mace Windu,188,84,none,dark,brown,72BBY,male,https://swapi.dev/api/planets/42/,"['https://swapi.dev/api/films/4/', 'https://sw...",...,https://swapi.dev/api/people/51/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,Dathomir,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],...,https://swapi.dev/api/planets/36/,24,491,10480,temperate,0.9,"forests, deserts, savannas",unknown,5200,['https://swapi.dev/api/people/44/']
167,Bestine IV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],...,https://swapi.dev/api/planets/26/,26,680,6400,temperate,unknown,"rocky islands, oceans",98,62000000,['https://swapi.dev/api/people/19/']
136,Ojom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[],...,https://swapi.dev/api/planets/55/,unknown,unknown,unknown,frigid,unknown,"oceans, glaciers",100,500000000,['https://swapi.dev/api/people/71/']
147,Bespin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,['https://swapi.dev/api/films/2/'],...,https://swapi.dev/api/planets/6/,12,5110,118000,temperate,"1.5 (surface), 1 standard (Cloud City)",gas giant,0,6000000,['https://swapi.dev/api/people/26/']

In [35]:
df.shape

(202, 25)

In [34]:
df.isnull().sum()

name                 0
height             120
mass               120
hair_color         125
skin_color         120
eye_color          120
birth_year         120
gender             123
homeworld          120
films                0
species            120
vehicles           120
starships          120
created              0
edited               0
url                  0
rotation_period     82
orbital_period      82
diameter            82
climate             82
gravity             84
terrain             82
surface_water       82
population          82
residents           82
dtype: int64

In [40]:
df = pd.read_csv('opsd_germany_daily.csv')

In [41]:
#Power Consume Systems from Germany
df.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

In [42]:
df.shape

(4383, 5)

In [43]:
df.isnull().sum()

Date              0
Consumption       0
Wind           1463
Solar          2195
Wind+Solar     2196
dtype: int64